<div class="sidebar">
    <button type="button" class="close">Close</button>
    <a class="logo">
        <img src="./assets/img/logo_influencer.png" />
    </a>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item nav-user">
                <a class="nav-link active" href="/microkols-influencer/build/account-changecontact.html.html">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large" width="32" height="32" class="rounded-circle" />
                    <span>Thuc Nguyen</span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/microkols-influencer/build/marketplace.html">
                    MarketPlace
                </a>
            </li>
            <li class="nav-item dropdown nav-notif">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="nav-link" href="/microkols-influencer/build/notification.html">
                            Thông báo
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="dropdown" href="/microkols-influencer/build/notification.html">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-pill badge-danger" style="display:none">0</span>
                        </a>
                        <div class="dropdown-menu">
                        </div>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/microkols-influencer/build/account-changeinfo.html">
                    Tài khoản
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link nav-fbfeed" href="javascript:;">
                    Facebook Feed
                </a>
                <form method="post" id="frmUpdatefbpost" action="/Account/UpdateFbPost">
                    <span class="d-none">103</span>
                    <input type="hidden" name="accessToken" id="frmUpdatefbpostToken" />
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gKAfYisEn9AcNNCtaMa1P1Uv3yeH8sld0IteJQxSCnmiK5yiZJBXqDYEMS5P3znME7T1GKjqvAhmYAYaL01T6amxHUoL0N0X68HLvymbSeG37QUvbDne3zuUUfO7vEu-oZGfTz_BNeNSxVVxItIl_tusI2oIYF33DjCaRvi9VenCA" />
                </form>
            </li>
            <li class="nav-item ">
                <a class="nav-link nav-friends" href="javascript:;">
                    Bạn bè trên Facebook
                </a>
                <form method="post" id="frmUpdatefbfriends" action="/Account/UpdateFbFriends">
                    <span class="d-none">103</span>
                    <input type="hidden" name="accessToken" id="frmUpdatefbfriendsToken" />
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gKAfYisEn9AcNNCtaMa1P1Uv3yeH8sld0IteJQxSCnmiK5yiZJBXqDYEMS5P3znME7T1GKjqvAhmYAYaL01T6amxHUoL0N0X68HLvymbSeG37QUvbDne3zuUUfO7vEu-oZGfTz_BNeNSxVVxItIl_tusI2oIYF33DjCaRvi9VenCA" /></form>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/microkols-influencer/build/wallet.html">
                    Thông tin ví
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/microkols-influencer/build/changeaccounttype.html">
                    Cấu hình
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Auth/Logout">
                    Thoát</a>
            </li>
            <li class="nav-item nav-sep">
                <hr />
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://microkols.com/introduce.html" target="_blank">Giới thiệu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://microkols.com/policy.html">Chính sách & Quy định</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://microkols.com/qna.html">Hỏi & Đáp</a>
            </li>
        </ul>
    </div>
</div>