<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/app.css" rel="stylesheet">
    <link href="./assets/css/style-mobile.css" rel="stylesheet">
    <link href="./assets/css/daterangepicker.css" rel="stylesheet">
    <link href="./assets/css/select2.min.css" rel="stylesheet">
    <link href="./assets/css/select2-bootstrap.css" rel="stylesheet">
    <link href="./assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="./assets/css/owl.theme.default.min.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
<div class="d-flex">
    <div class="navbar-m">
        <a href="" class="logo"><img src="./assets/img/logo_influencer.png" alt=""></a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    {% include "../share/sidebar.html" %}
    {% block content %}{% endblock %}
</div>
<div class="modal fade" style="z-index: 999999;" id="modal-update-idcard" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>

            </div>
            <div class="modal-body">

                <p>Bạn chưa xác mnh  thông tin thông tin tài khoản </p>
                <p>Vui lòng xác minh thông tin tài khoản <a href="/Account/ChangeIDCard"> tại đây </a> để tiếp tục thực hiện</p>
                <p>Xin chân thành cảm ơn</p>
            </div>

        </div>
    </div>
</div>
<script src="./assets/js/js.cookie.min.js"></script>
<script src="./assets/js/moment.min.js"></script>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js//jquery.validate.js"></script>
<script src="./assets/js/jquery.validate.unobtrusive.js"></script>
<script src="./assets/js/bootstrap.bundle.min.js"></script>
<script src="./assets/js/bootstrap-notify.min.js"></script>
<script src="./assets/js/select2.min.js"></script>
<script src="./assets/js/daterangepicker.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/vue.js"></script>
<script src="./assets/js/app.js"></script>
<script>
    $(document).ready(function () {
        // active navbar of page current
        var urlcurrent = window.location.href;
        $(".sidebar-sticky ul li a[href$='"+urlcurrent+"']").addClass('active');

        $('.navbar-toggler').on('click',function () {
            $('.sidebar').toggleClass('is-show');
        });
        $('.sidebar .close').on('click',function () {
            $('.sidebar').removeClass('is-show');
        });
    });
</script>
</body>
</html>