<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid main-campaign-detail">
        <div class="page-title txt-center">
            <div class="h1"> MarketPlace</div>
            <span class=" h3 text-secondary px-2">/</span>
            <h1 class=" h3 text-secondary">Chiến dịch 103072001</h1>
        </div>
        <ul class="nav nav-tabs nav-campaign">
            <li class="nav-item">
                <a class="nav-link active" href="/Campaign/Details/342?tab=0">Thông tin chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Campaign/Details/342?tab=1">Thống kê</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show " id="campaign-info" role="tabpanel">
                <form action="/Campaign/RequestJoinCampaign" class="campaigndetails">
                    <div class="card campaign">
                        <div class="card-body">
                            <div class="h4 font-weight-bold campaign-type">Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</div>
                            <h2 class="card-title">
                                <a data-id="342" class="campaign-link" href="/Campaign/Details/342">
                                    Sai l&#x1EA7;m t&#xE1;i m&#x1EDF; c&#x1EED;a khi&#x1EBF;n California tr&#x1EA3; gi&#xE1;
                                </a>
                            </h2>
                            <div class="d-flex">
                                <div>
                                    <small> bởi </small>
                                    <span class="ml-2"><img src="https://resources.microkols.com//agency/2020/2/9/DOMTQXNZVL.jpg" width="24" height="24" class="rounded-circle"> TPBank</span>
                                </div>
                                <div class="ml-auto text-right">
                                    <small class="ml-5">  <i class="fas fa-circle text-primary"></i> &#x110;&#xE3; ph&#xEA; duy&#x1EC7;t</small>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <div class="icon"><i class="fab fa-facebook"></i></div>
                                <div class="ml-2 small">
                                    &#x110;&#xE3; ph&#xEA; duy&#x1EC7;t
                                    <br />
                                    2/10 tham gia
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body campaign-text ">
                        <h5>Giới thiệu:</h5>
                        <p>
                            M&#x1EF8;California ban &#x111;&#x1EA7;u &#x111;&#x1B0;&#x1EE3;c ca ng&#x1EE3;i nh&#x1EDD; th&#xE0;nh c&#xF4;ng &#x1EE9;ng ph&#xF3; Covid-19. Nh&#x1B0;ng ch&#x1EC9; v&#xE0;i tu&#x1EA7;n sau khi t&#xE1;i m&#x1EDF; c&#x1EED;a nhanh ch&#xF3;ng, s&#x1ED1; ca nCoV c&#x1EE7;a bang b&#xF9;ng n&#x1ED5;.
                        </p>
                        <h5>Công việc cần làm:</h5>
                        <p>
                            Ng&#xE0;y 1/7, Gavin Newsom, th&#x1ED1;ng &#x111;&#x1ED1;c bang California, M&#x1EF9;, c&#xF4;ng b&#x1ED1; m&#x1ED9;t lo&#x1EA1;t bi&#x1EC7;n ph&#xE1;p h&#x1EA1;n ch&#x1EBF; m&#x1EDB;i, bao g&#x1ED3;m l&#x1EC7;nh &#x111;&#xF3;ng c&#x1EED;a b&#x1EAF;t bu&#x1ED9;c v&#x1EDB;i nhi&#x1EC1;u qu&#xE1;n bar v&#xE0; nh&#xE0; h&#xE0;ng, ch&#x1EC9; m&#x1ED9;t th&#x1EDD;i gian ng&#x1EAF;n sau khi ban h&#xE0;nh k&#x1EBF; ho&#x1EA1;ch t&#xE1;i m&#x1EDF; c&#x1EED;a. &#xD4;ng &#x111;&#x1ED3;ng th&#x1EDD;i th&#x1EEB;a nh&#x1EAD;n r&#x1EB1;ng trong nh&#x1EEF;ng th&#xE1;ng &#x111;&#x1EA7;u c&#x1EE7;a d&#x1ECB;ch b&#x1EC7;nh, California &#x111;&#xE3; ki&#x1EC3;m so&#xE1;t t&#x1ED1;t t&#xEC;nh h&#xEC;nh, nh&#x1B0;ng l&#x1EA1;i ti&#x1EBF;n h&#xE0;nh m&#x1EDF; c&#x1EED;a tr&#x1EDF; l&#x1EA1;i qu&#xE1; v&#x1ED9;i v&#xE0;ng.
                        </p>
                        <h5>Chia s&#x1EBB;:</h5>
                        <p>
                            <a target="blank" href="https://vnexpress.net/sai-lam-tai-mo-cua-khien-california-tra-gia-4124699.html">
                                https://vnexpress.net/sai-lam-tai-mo-cua-khien-california-tra-gia-4124699.html
                            </a>
                        </p>
                        <h5> Thời gian đăng ký</h5>
                        <p>
                        </p><ul class="list-unstyled">
                        <li>   14:58 03/07/2020 -   00:00 09/07/2020</li>
                    </ul>
                        <h5> Thời gian thực hiện chiến dịch</h5>
                        <p>
                        </p><ul class="list-unstyled">
                        <li>   00:01 09/07/2020 -   10:00 24/07/2020</li>
                    </ul>
                        <h5>KPIs tối thiểu mà doanh nghiệp yêu cầu bạn đạt được:</h5>
                        <ul class="list-unstyled">
                            <li>
                                <input type="number" name="KPICommitted" class="form-control" value="0" min="0" />
                            </li>
                        </ul>
                        <h5>Số lượng doanh nghiệp cần:</h5>
                        <p>
                            10
                        </p>
                        <h5>Chi phí doanh nghiệp sẽ trả cho bạn:</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                Chi phí tối thiểu: <span style="color: red">80,000 &#x111;</span>
                            </li>
                            <li class="list-inline-item">
                                Chi phí tối đa: <span style="color: red">800,000 &#x111;</span>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <h5 class="mb-2">Thu nhập mong muốn của bạn</h5>
                            <input type="number" name="AccountChargeAmount" class="form-control" value="80000" min="80000" max="800000" />
                        </div>
                        <h5>Nội dung mẫu  :</h5>
                        <div>
                            Ng&#xE0;y 1/7, Gavin Newsom, th&#x1ED1;ng &#x111;&#x1ED1;c bang California, M&#x1EF9;, c&#xF4;ng b&#x1ED1; m&#x1ED9;t lo&#x1EA1;t bi&#x1EC7;n ph&#xE1;p h&#x1EA1;n ch&#x1EBF; m&#x1EDB;i, bao g&#x1ED3;m l&#x1EC7;nh &#x111;&#xF3;ng c&#x1EED;a b&#x1EAF;t bu&#x1ED9;c v&#x1EDB;i nhi&#x1EC1;u qu&#xE1;n bar v&#xE0; nh&#xE0; h&#xE0;ng, ch&#x1EC9; m&#x1ED9;t th&#x1EDD;i gian ng&#x1EAF;n sau khi ban h&#xE0;nh k&#x1EBF; ho&#x1EA1;ch t&#xE1;i m&#x1EDF; c&#x1EED;a. &#xD4;ng &#x111;&#x1ED3;ng th&#x1EDD;i th&#x1EEB;a nh&#x1EAD;n r&#x1EB1;ng trong nh&#x1EEF;ng th&#xE1;ng &#x111;&#x1EA7;u c&#x1EE7;a d&#x1ECB;ch b&#x1EC7;nh, California &#x111;&#xE3; ki&#x1EC3;m so&#xE1;t t&#x1ED1;t t&#xEC;nh h&#xEC;nh, nh&#x1B0;ng l&#x1EA1;i ti&#x1EBF;n h&#xE0;nh m&#x1EDF; c&#x1EED;a tr&#x1EDF; l&#x1EA1;i qu&#xE1; v&#x1ED9;i v&#xE0;ng.
                        </div>
                        <div class="ml-auto mt-3">
                            <hr />
                            <div>
                                <input type="hidden" name="Caption" value="none" />
                                <button id="btn-campaign-apply" class="btn btn-rounded btn-primary" type="submit">Tham gia chiến dịch</button>
                            </div>
                            <input type="hidden" name="campaignid" value="342" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>