<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <ul class="nav nav-tabs nav-campaign">
            <li class="nav-item">
                <a class="nav-link active" href="/microkols-influencer/build/changeaccounttype.html">Đăng ký KOLs</a>
            </li>
        </ul>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gLolxO5eZ0resGPIfbrDCqOcy2LJghTRRJ4HFucA1q5NIuw1oy9ARNXGl_iRfSgn1JGuaT-sEZr0PdjnEV0CN7aCneQtPTvCc0PrGUqYqqmHdkTFtAWB5SiWyQ7pp-5-mxa3vhBm_m4ElxWVyrKUcRKoepuWiwBxvsTxktrwLBVaQ" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <form method="post" enctype="multipart/form-data" action="/Account/ChangeAccountType">
                    <div class="form-group group-select-account">
                        <label for="Type">Lo&#x1EA1;i t&#xE0;i kho&#x1EA3;n</label>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radioRegular" value="Regular" name="Type" checked class="custom-control-input">
                                <label class="custom-control-label" for="radioRegular">
                                    T&#xE0;i kho&#x1EA3;n th&#x1B0;&#x1EDD;ng
                                    <span data-toggle="tooltip" data-html="true" title="M&#xF4; t&#x1EA3; t&#xE0;i kho&#x1EA3;n th&#x1B0;&#x1EDD;ng"><i class="fa fa-question-circle"></i></span>
                                </label>
                            </div>
                            <div class="ml-3 pl-5">
                            </div>
                        </div>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radioHotTeen" value="HotTeen" name="Type"  class="custom-control-input">
                                <label class="custom-control-label" for="radioHotTeen">
                                    T&#xE0;i kho&#x1EA3;n Hot Teen
                                    <span data-toggle="tooltip" data-html="true" title="M&#xF4; t&#x1EA3; Hotteen"><i class="fa fa-question-circle"></i></span>
                                </label>
                            </div>
                            <div class="ml-3 pl-5">
                            </div>
                        </div>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radioHotMom" value="HotMom" name="Type"  class="custom-control-input">
                                <label class="custom-control-label" for="radioHotMom">
                                    T&#xE0;i kho&#x1EA3;n Hot Mom
                                    <span data-toggle="tooltip" data-html="true" title="M&#xF4; t&#x1EA3; Hotmom"><i class="fa fa-question-circle"></i></span>
                                </label>
                            </div>
                            <div class="ml-3">
                                <div id="dataHotMom" class="d-none">
                                    <h6 class="mb-2">
                                        Danh sách con cái
                                    </h6>
                                    <div class="mb-2">
                                        <button v-on:click="createItem()" type="button" class="btn btn-primary btn-sm">
                                            <span class="fal fa-plus"></span> Thêm con cái
                                        </button>
                                    </div>
                                    <div class="d-flex mb-2" v-for="(item,idx) in childrens">
                                        <div class="mr-auto form-inline">
                                            <select class="form-control" v-bind:name="'HotMomData['+idx+'].Gender'" v-model="item.Gender">
                                                <option value="1">Nam</option>
                                                <option value="2">N&#x1EEF;</option>
                                            </select>
                                            <input type="number" placeholder="Tuổi" class="form-control mx-sm-2" v-bind:name="'HotMomData['+idx+'].Age'" v-model="item.Age" />
                                            <select class="form-control" name="HotMomData.AgeType" v-bind:name="'HotMomData['+idx+'].AgeType'" v-model="item.AgeType">
                                                <option value="1">Tháng</option>
                                                <option value="2">Tuổi</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radioHotFacebooker" value="HotFacebooker" name="Type"  class="custom-control-input">
                                <label class="custom-control-label" for="radioHotFacebooker">
                                    T&#xE0;i kho&#x1EA3;n Hot Facebooker
                                    <span data-toggle="tooltip" data-html="true" title="M&#xF4; t&#x1EA3; Hot Facebooker"><i class="fa fa-question-circle"></i></span>
                                </label>
                            </div>
                            <div class="ml-3 pl-5">
                            </div>
                        </div>
                        <div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="radioKols" value="Kols" name="Type"  class="custom-control-input">
                                <label class="custom-control-label" for="radioKols">
                                    T&#xE0;i kho&#x1EA3;n Kols
                                    <span data-toggle="tooltip" data-html="true" title="M&#xF4; t&#x1EA3; Kols"><i class="fa fa-question-circle"></i></span>
                                </label>
                            </div>
                            <div class="ml-3 pl-5">
                            </div>
                        </div>
                        <span class="field-validation-valid" data-valmsg-for="Type" data-valmsg-replace="true"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-val="true" data-val-required="The B&#x1EA1;n c&#xF3; th&#x1EC3;/ph&#x1EA3;i l&#xE0; m&#x1ED9;t Reviewer field is required." id="Reviewer" name="Reviewer" value="true">
                            <label class="custom-control-label" for="Reviewer">B&#x1EA1;n c&#xF3; th&#x1EC3;/ph&#x1EA3;i l&#xE0; m&#x1ED9;t Reviewer</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Đồng ý" class="btn btn-primary">
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gLolxO5eZ0resGPIfbrDCqOcy2LJghTRRJ4HFucA1q5NIuw1oy9ARNXGl_iRfSgn1JGuaT-sEZr0PdjnEV0CN7aCneQtPTvCc0PrGUqYqqmHdkTFtAWB5SiWyQ7pp-5-mxa3vhBm_m4ElxWVyrKUcRKoepuWiwBxvsTxktrwLBVaQ" /><input name="Reviewer" type="hidden" value="false"></form>
                <hr />
                <h5 class="mb-3"> Bạn sẽ nhận được khoản thu nhập khi tham gia chiến dịch của chúng tôi</h5>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchShareContent" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContent&amp;removed=True" />
                            <label class="custom-control-label" for="switchShareContent">Đồng ý</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchShareContentWithCaption" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareContentWithCaption&amp;removed=True" />
                            <label class="custom-control-label" for="switchShareContentWithCaption">Đồng ý</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Thay h&#xEC;nh Avatar</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchChangeAvatar" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=ChangeAvatar&amp;removed=True" />
                            <label class="custom-control-label" for="switchChangeAvatar">Đồng ý</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchReviewProduct" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=ReviewProduct&amp;removed=True" />
                            <label class="custom-control-label" for="switchReviewProduct">Đồng ý</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchJoinEvent" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=JoinEvent&amp;removed=True" />
                            <label class="custom-control-label" for="switchJoinEvent">Đồng ý</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label class="col-lg-4 col-md-4">Share link livestream ch&#x1B0;&#x1A1;ng tr&#xEC;nh</label>
                    <div class="col-lg-6 col-md-5">
                        <input type="number" disabled value="20000" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input checkbox-ignorecampaigntype" id="switchShareStreamUrl" checked=checked
                                   data-url="/Account/UpdateIgnoreCampaignTypes?type=ShareStreamUrl&amp;removed=True" />
                            <label class="custom-control-label" for="switchShareStreamUrl">Đồng ý</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>