<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-influencer/build/account-changeinfo.html">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changecontact.html">Thông tin liên lạc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-influencer/build/account-changeidcard.html">Xác minh tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-influencer/build/account-changebank.html">Tài khoản ngân hàng</a>
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <!--add col for tablet-->
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gL_5RN-y2a1cwoHf3sZbgRdj_Kqp_hRgB1AXcpY6xG2aP-vi20qo8xpndkTCOiR7uiQVKgHxQygA8VhZ0Iz8zV0anc6VeWd5rZn9v6MxDk6C4B9SetHy8NBlTVQghZ3FDc6EfLmzwbHjZloHtowVhVgm-AMot_bX_O01BEXlxUqvw" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <form method="post" enctype="multipart/form-data" action="/Account/ChangeBankAccount">
                    <div class="form-group">
                        <label for="Name">T&#xEA;n t&#xE0;i kho&#x1EA3;n</label>
                        <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p T&#xEA;n t&#xE0;i kho&#x1EA3;n" id="Name" name="Name" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Number">S&#x1ED1; t&#xE0;i kho&#x1EA3;n</label>
                        <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; t&#xE0;i kho&#x1EA3;n" id="Number" name="Number" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Number" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Bank">Ng&#xE2;n h&#xE0;ng</label>
                        <select class="form-control m-input" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p Ng&#xE2;n h&#xE0;ng" id="Bank" name="Bank"><option value="">Ch&#x1ECD;n ng&#xE2;n h&#xE0;ng</option>
                            <option value="Ng&#xE2;n h&#xE0;ng X&#xE2;y d&#x1EF1;ng(CB)">Ng&#xE2;n h&#xE0;ng X&#xE2;y d&#x1EF1;ng(CB)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng &#x110;&#x1EA1;i D&#x1B0;&#x1A1;ng(Oceanbank)">Ng&#xE2;n h&#xE0;ng &#x110;&#x1EA1;i D&#x1B0;&#x1A1;ng(Oceanbank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng D&#x1EA7;u Kh&#xED; To&#xE0;n C&#x1EA7;u(GPBank)">Ng&#xE2;n h&#xE0;ng D&#x1EA7;u Kh&#xED; To&#xE0;n C&#x1EA7;u(GPBank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng N&#xF4;ng nghi&#x1EC7;p v&#xE0; Ph&#xE1;t tri&#x1EC3;n N&#xF4;ng th&#xF4;n VN(Agribank)">Ng&#xE2;n h&#xE0;ng N&#xF4;ng nghi&#x1EC7;p v&#xE0; Ph&#xE1;t tri&#x1EC3;n N&#xF4;ng th&#xF4;n VN(Agribank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng &#xC1; Ch&#xE2;u(ACB)">Ng&#xE2;n h&#xE0;ng &#xC1; Ch&#xE2;u(ACB)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng Ti&#xEA;n Phong(TPBank)">Ng&#xE2;n h&#xE0;ng Ti&#xEA;n Phong(TPBank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng &#x110;&#xF4;ng &#xC1;(&#x110;&#xF4;ng &#xC1; Bank)">Ng&#xE2;n h&#xE0;ng &#x110;&#xF4;ng &#xC1;(&#x110;&#xF4;ng &#xC1; Bank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng &#x110;&#xF4;ng Nam &#xC1;(SeABank)">Ng&#xE2;n h&#xE0;ng &#x110;&#xF4;ng Nam &#xC1;(SeABank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng An B&#xEC;nh(ABBANK)">Ng&#xE2;n h&#xE0;ng An B&#xEC;nh(ABBANK)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng B&#x1EAF;c &#xC1;(BacABank)">Ng&#xE2;n h&#xE0;ng B&#x1EAF;c &#xC1;(BacABank)</option>
                            <option value="Ng&#xE2;n h&#xE0;ng B&#x1EA3;n Vi&#x1EC7;t(VietCapitalBank)">Ng&#xE2;n h&#xE0;ng B&#x1EA3;n Vi&#x1EC7;t(VietCapitalBank)</option>
                            <option value="H&#xE0;ng H&#x1EA3;i Vi&#x1EC7;t Nam(MSB)">H&#xE0;ng H&#x1EA3;i Vi&#x1EC7;t Nam(MSB)</option>
                            <option value="K&#x1EF9; Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(Techcombank)">K&#x1EF9; Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(Techcombank)</option>
                            <option value="Ki&#xEA;n Long(KienLongBank)">Ki&#xEA;n Long(KienLongBank)</option>
                            <option value="Nam &#xC1;(Nam A Bank)">Nam &#xC1;(Nam A Bank)</option>
                            <option value="Qu&#x1ED1;c D&#xE2;n(NCB)">Qu&#x1ED1;c D&#xE2;n(NCB)</option>
                            <option value="Vi&#x1EC7;t Nam Th&#x1ECB;nh V&#x1B0;&#x1EE3;ng(VPBank)">Vi&#x1EC7;t Nam Th&#x1ECB;nh V&#x1B0;&#x1EE3;ng(VPBank)</option>
                            <option value="Ph&#xE1;t tri&#x1EC3;n nh&#xE0; Th&#xE0;nh ph&#x1ED1; H&#x1ED3; Ch&#xED; Minh(HDBank)">Ph&#xE1;t tri&#x1EC3;n nh&#xE0; Th&#xE0;nh ph&#x1ED1; H&#x1ED3; Ch&#xED; Minh(HDBank)</option>
                            <option value="Ph&#x1B0;&#x1A1;ng &#x110;&#xF4;ng(OCB)">Ph&#x1B0;&#x1A1;ng &#x110;&#xF4;ng(OCB)</option>
                            <option value="Qu&#xE2;n &#x111;&#x1ED9;i(MB)">Qu&#xE2;n &#x111;&#x1ED9;i(MB)</option>
                            <option value="&#x110;&#x1EA1;i ch&#xFA;ng Vi&#x1EC7;t Nam(PVcombank)">&#x110;&#x1EA1;i ch&#xFA;ng Vi&#x1EC7;t Nam(PVcombank)</option>
                            <option value="Qu&#x1ED1;c t&#x1EBF;(VIB)">Qu&#x1ED1;c t&#x1EBF;(VIB)</option>
                            <option value="S&#xE0;i G&#xF2;n(SCB)">S&#xE0;i G&#xF2;n(SCB)</option>
                            <option value="S&#xE0;i G&#xF2;n C&#xF4;ng Th&#x1B0;&#x1A1;ng(Saigonbank)">S&#xE0;i G&#xF2;n C&#xF4;ng Th&#x1B0;&#x1A1;ng(Saigonbank)</option>
                            <option value="S&#xE0;i G&#xF2;n-H&#xE0; N&#x1ED9;i(SHBank)">S&#xE0;i G&#xF2;n-H&#xE0; N&#x1ED9;i(SHBank)</option>
                            <option value="S&#xE0;i G&#xF2;n Th&#x1B0;&#x1A1;ng T&#xED;n(Sacombank)">S&#xE0;i G&#xF2;n Th&#x1B0;&#x1A1;ng T&#xED;n(Sacombank)</option>
                            <option value="Vi&#x1EC7;t &#xC1;(VietABank)">Vi&#x1EC7;t &#xC1;(VietABank)</option>
                            <option value="B&#x1EA3;o Vi&#x1EC7;t(BaoVietBank)">B&#x1EA3;o Vi&#x1EC7;t(BaoVietBank)</option>
                            <option value="Vi&#x1EC7;t Nam Th&#x1B0;&#x1A1;ng T&#xED;n(VietBank)">Vi&#x1EC7;t Nam Th&#x1B0;&#x1A1;ng T&#xED;n(VietBank)</option>
                            <option value="X&#x103;ng d&#x1EA7;u Petrolimex(PG Bank)">X&#x103;ng d&#x1EA7;u Petrolimex(PG Bank)</option>
                            <option value="Xu&#x1EA5;t Nh&#x1EAD;p kh&#x1EA9;u Vi&#x1EC7;t Nam(Eximbank)">Xu&#x1EA5;t Nh&#x1EAD;p kh&#x1EA9;u Vi&#x1EC7;t Nam(Eximbank)</option>
                            <option value="B&#x1B0;u &#x111;i&#x1EC7;n Li&#xEA;n Vi&#x1EC7;t(LienVietPostBank)">B&#x1B0;u &#x111;i&#x1EC7;n Li&#xEA;n Vi&#x1EC7;t(LienVietPostBank)</option>
                            <option value="Ngo&#x1EA1;i th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(Vietcombank)">Ngo&#x1EA1;i th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(Vietcombank)</option>
                            <option value="C&#xF4;ng Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(VietinBank)">C&#xF4;ng Th&#x1B0;&#x1A1;ng Vi&#x1EC7;t Nam(VietinBank)</option>
                            <option value="&#x110;&#x1EA7;u t&#x1B0; v&#xE0; Ph&#xE1;t tri&#x1EC3;n Vi&#x1EC7;t Nam(BIDV)">&#x110;&#x1EA7;u t&#x1B0; v&#xE0; Ph&#xE1;t tri&#x1EC3;n Vi&#x1EC7;t Nam(BIDV)</option>
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="Bank" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Branch">Chi nh&#xE1;nh</label>
                        <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p Chi nh&#xE1;nh" id="Branch" name="Branch" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Branch" data-valmsg-replace="true"></span>
                    </div>
                    <p class="small font-italic">
                        * Bạn cẩn đảm bảo thông tin mình khai báo là chính xác. Hệ thống sẽ dựa vào thông tin bạn khai báo để gửi thông báo cũng như thanh toán cho các chiến dịch mà bạn thực hiện.
                        Nếu khai báo sai bạn có thể không nhận được thanh toán hoặc thông báo chiến dịch mới. Chúng tôi không chịu trách nhiệm nếu sự cố do bạn khai báo
                    </p>
                    <div class="form-group">
                        <button class="btn btn-rounded btn-primary" type="submit">Cập nhật</button>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gL_5RN-y2a1cwoHf3sZbgRdj_Kqp_hRgB1AXcpY6xG2aP-vi20qo8xpndkTCOiR7uiQVKgHxQygA8VhZ0Iz8zV0anc6VeWd5rZn9v6MxDk6C4B9SetHy8NBlTVQghZ3FDc6EfLmzwbHjZloHtowVhVgm-AMot_bX_O01BEXlxUqvw" /></form>
            </div>
        </div>
    </div>
</main>