<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-influencer/build/account-changeinfo.html">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changecontact.html">Thông tin liên lạc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-influencer/build/account-changeidcard.html">Xác minh tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changebank.html">Tài khoản ngân hàng</a>
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <!--add col for tablet-->
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gLOmmI8EIVnfltwpXyK5DAb6zdg1dct75bC5r8en6bypiol9hTw3YoVm_DGRJeYtCe3EgzOSv73IAxB7xKo6cGtxlse7LT4om8gObVELczzcqAPMFvPIxq7caNuIeNJKGu2w0Mfu_GOjaYU2gRJAOCxpBsN-JZ7uhqSmd-BN40OiQ" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <form method="post" enctype="multipart/form-data" id="frmChangeIdCard" action="/Account/ChangeIDCard">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Name">H&#x1ECD; v&#xE0; t&#xEA;n</label>
                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p H&#x1ECD; v&#xE0; t&#xEA;n" id="Name" name="Name" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Number">S&#x1ED1; CMND</label>
                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; CMND" id="Number" name="Number" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Number" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Time">Ng&#xE0;y c&#x1EA5;p</label>
                                <input type="text" class="form-control form-datepicker" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p Ng&#xE0;y c&#x1EA5;p" id="Time" name="Time" value="" />
                                <span class="field-validation-valid" data-valmsg-for="Time" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="City">N&#x1A1;i c&#x1EA5;p</label>
                                <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p N&#x1A1;i c&#x1EA5;p" id="City" name="City" value="" />
                                <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ImageFront">M&#x1EB7;t tr&#x1B0;&#x1EDB;c</label>
                                <input type="hidden" id="ImageFront" name="ImageFront" value="" />
                                ​<div class="d-flex justify-content-center mb-1 border">
                                <img src="/img/default-user-image.png" class="img-fluid align-self-center img-ImageFront" alt="">
                            </div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input image-upload"
                                               id="uploadimg01" data-target="#ImageFront" data-preview=".img-ImageFront" />
                                        <label class="custom-file-label" for="uploadimg01">
                                            Chọn file
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ImageBack">M&#x1EB7;t sau</label>
                                <input type="hidden" id="ImageBack" name="ImageBack" value="" />
                                ​<div class="d-flex justify-content-center mb-1 border">
                                <img src="/img/default-user-image.png" class="img-fluid align-self-center img-ImageBack" alt="">
                            </div>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input image-upload"
                                               id="uploadimg02" data-target="#ImageBack" data-preview=".img-ImageBack" />
                                        <label class="custom-file-label" for="uploadimg02">
                                            Chọn file
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <p class="small font-italic">
                                * Bạn cẩn đảm bảo thông tin mình khai báo là chính xác. Hệ thống sẽ dựa vào thông tin bạn khai báo để gửi thông báo cũng như thanh toán cho các chiến dịch mà bạn thực hiện.
                                Nếu khai báo sai bạn có thể không nhận được thanh toán hoặc thông báo chiến dịch mới. Chúng tôi không chịu trách nhiệm nếu sự cố do bạn khai báo
                            </p>
                            <div class="form-group">
                                <button class="btn btn-rounded btn-primary" type="submit">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gLOmmI8EIVnfltwpXyK5DAb6zdg1dct75bC5r8en6bypiol9hTw3YoVm_DGRJeYtCe3EgzOSv73IAxB7xKo6cGtxlse7LT4om8gObVELczzcqAPMFvPIxq7caNuIeNJKGu2w0Mfu_GOjaYU2gRJAOCxpBsN-JZ7uhqSmd-BN40OiQ" />
                </form>
            </div>
        </div>
    </div>
</main>