<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-influencer/build/account-changeinfo.html">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-influencer/build/account-changecontact.html">Thông tin liên lạc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/microkols-influencer/build/account-changeidcard.html">Xác minh tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changebank.html">Tài khoản ngân hàng</a>
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <!--add col for tablet-->
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gJW510b8j-5-5N05Zd1TvRSY3katvPD87tNnUlB7Y7oM9f0CyU0dTrll2U3rADn65wrgDHgS0SA7lEsxYTWmfQKdYs9eeYj3MkG5FO3R25jVXqRpUQL1O-eoMYWqlCZ8lB5P7S5wXmOTuAZIwrct9O7t25KkVzYZjzYOj9ekrJ2EA" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <form method="post">
                    <div class="form-group">
                        <label for="Phone">S&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i</label>
                        <input type="text" class="form-control" data-val="true" data-val-regex="S&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i kh&#xF4;ng &#x111;&#xFA;ng" data-val-regex-pattern="^(\d{10})$" data-val-required="H&#xE3;y nh&#x1EAD;p S&#x1ED1; &#x111;i&#x1EC7;n tho&#x1EA1;i" id="Phone" name="Phone" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Address">&#x110;&#x1ECB;a ch&#x1EC9; (N&#x1A1;i b&#x1EA1;n sinh s&#x1ED1;ng)</label>
                        <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p &#x110;&#x1ECB;a ch&#x1EC9; (N&#x1A1;i b&#x1EA1;n sinh s&#x1ED1;ng)" id="Address" name="Address" value="" />
                        <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="CityId">T&#x1EC9;nh/Th&#xE0;nh ph&#x1ED1;</label>
                        <select name="CityId" id="CityId" data-district="0" class="form-control">
                            <option value="1" >
                                H&#xE0; N&#x1ED9;i
                            </option>
                            <option value="2" >
                                H&#x1ED3; Ch&#xED; Minh
                            </option>
                            <option value="11" >
                                &#x110;&#x1EAF;k N&#xF4;ng
                            </option>
                            <option value="12" >
                                H&#x1EA3;i Ph&#xF2;ng
                            </option>
                            <option value="13" >
                                &#x110;&#xE0; N&#x1EB5;ng
                            </option>
                            <option value="14" >
                                C&#x1EA7;n Th&#x1A1;
                            </option>
                            <option value="15" >
                                B&#x1EA1;c Li&#xEA;u
                            </option>
                            <option value="16" >
                                B&#x1EAF;c Giang
                            </option>
                            <option value="17" >
                                B&#x1EAF;c C&#x1EA1;n
                            </option>
                            <option value="18" >
                                B&#x1EAF;c Ninh
                            </option>
                            <option value="19" >
                                B&#x1EBF;n Tre
                            </option>
                            <option value="20" >
                                B&#xEC;nh D&#x1B0;&#x1A1;ng
                            </option>
                            <option value="21" >
                                B&#xEC;nh &#x110;&#x1ECB;nh
                            </option>
                            <option value="22" >
                                B&#xEC;nh Ph&#x1B0;&#x1EDB;c
                            </option>
                            <option value="23" >
                                B&#xEC;nh Thu&#x1EAD;n
                            </option>
                            <option value="24" >
                                C&#xE0; Mau
                            </option>
                            <option value="25" >
                                Cao B&#x1EB1;ng
                            </option>
                            <option value="26" >
                                &#x110;&#x1EAF;k L&#x1EAF;k
                            </option>
                            <option value="27" >
                                &#x110;&#x1ED3;ng Nai
                            </option>
                            <option value="28" >
                                &#x110;&#x1ED3;ng Th&#xE1;p
                            </option>
                            <option value="29" >
                                Gia Lai
                            </option>
                            <option value="30" >
                                H&#xE0; Giang
                            </option>
                            <option value="31" >
                                H&#xE0; Nam
                            </option>
                            <option value="32" >
                                H&#xE0; T&#xE2;y
                            </option>
                            <option value="33" >
                                H&#xE0; T&#x129;nh
                            </option>
                            <option value="34" >
                                H&#x1EA3;i D&#x1B0;&#x1A1;ng
                            </option>
                            <option value="35" >
                                H&#xF2;a B&#xEC;nh
                            </option>
                            <option value="36" >
                                H&#x1B0;ng Y&#xEA;n
                            </option>
                            <option value="37" >
                                Kh&#xE1;nh H&#xF2;a
                            </option>
                            <option value="38" >
                                Ki&#xEA;n Giang
                            </option>
                            <option value="39" >
                                Kon Tum
                            </option>
                            <option value="40" >
                                Lai Ch&#xE2;u
                            </option>
                            <option value="41" >
                                L&#x1EA1;ng S&#x1A1;n
                            </option>
                            <option value="42" >
                                L&#xE0;o Cai
                            </option>
                            <option value="43" >
                                L&#xE2;m &#x110;&#x1ED3;ng
                            </option>
                            <option value="44" >
                                Long An
                            </option>
                            <option value="45" >
                                Nam &#x110;&#x1ECB;nh
                            </option>
                            <option value="46" >
                                Ngh&#x1EC7; An
                            </option>
                            <option value="47" >
                                Ninh B&#xEC;nh
                            </option>
                            <option value="48" >
                                Ninh Thu&#x1EAD;n
                            </option>
                            <option value="49" >
                                Ph&#xFA; Th&#x1ECD;
                            </option>
                            <option value="50" >
                                Ph&#xFA; Y&#xEA;n
                            </option>
                            <option value="51" >
                                Qu&#x1EA3;ng B&#xEC;nh
                            </option>
                            <option value="52" >
                                Qu&#x1EA3;ng Nam
                            </option>
                            <option value="53" >
                                Qu&#x1EA3;ng Ng&#xE3;i
                            </option>
                            <option value="54" >
                                Qu&#x1EA3;ng Ninh
                            </option>
                            <option value="55" >
                                Qu&#x1EA3;ng Tr&#x1ECB;
                            </option>
                            <option value="56" >
                                S&#xF3;c Tr&#x103;ng
                            </option>
                            <option value="57" >
                                S&#x1A1;n La
                            </option>
                            <option value="58" >
                                T&#xE2;y Ninh
                            </option>
                            <option value="59" >
                                Th&#xE1;i B&#xEC;nh
                            </option>
                            <option value="60" >
                                Th&#xE1;i Nguy&#xEA;n
                            </option>
                            <option value="61" >
                                Thanh H&#xF3;a
                            </option>
                            <option value="62" >
                                Th&#x1EEB;a Thi&#xEA;n Hu&#x1EBF;
                            </option>
                            <option value="63" >
                                Ti&#x1EC1;n Giang
                            </option>
                            <option value="64" >
                                Tr&#xE0; Vinh
                            </option>
                            <option value="65" >
                                Tuy&#xEA;n Quang
                            </option>
                            <option value="66" >
                                V&#x129;nh Long
                            </option>
                            <option value="67" >
                                V&#x129;nh Ph&#xFA;c
                            </option>
                            <option value="68" >
                                Y&#xEA;n B&#xE1;i
                            </option>
                            <option value="69" >
                                An giang
                            </option>
                            <option value="70" >
                                B&#xE0; R&#x1ECB;a - V&#x169;ng T&#xE0;u
                            </option>
                            <option value="71" >
                                H&#x1EAD;u Giang
                            </option>
                            <option value="72" >
                                &#x110;i&#x1EC7;n Bi&#xEA;n
                            </option>
                        </select>
                    </div>
                    <div class="pdistrict form-group" style="display:none">
                        <label for="DistrictId">Qu&#x1EAD;n huy&#x1EC7;n</label>
                        <select name="DistrictId" id="DistrictId" class="form-control"></select>
                    </div>
                    <p class="small font-italic">
                        * Bạn cẩn đảm bảo thông tin mình khai báo là chính xác. Hệ thống sẽ dựa vào thông tin bạn khai báo để gửi thông báo cũng như thanh toán cho các chiến dịch mà bạn thực hiện.
                        Nếu khai báo sai bạn có thể không nhận được thanh toán hoặc thông báo chiến dịch mới. Chúng tôi không chịu trách nhiệm nếu sự cố do bạn khai báo
                    </p>
                    <div class="form-group">
                        <button class="btn btn-rounded btn-primary" type="submit">Cập nhật</button>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gJW510b8j-5-5N05Zd1TvRSY3katvPD87tNnUlB7Y7oM9f0CyU0dTrll2U3rADn65wrgDHgS0SA7lEsxYTWmfQKdYs9eeYj3MkG5FO3R25jVXqRpUQL1O-eoMYWqlCZ8lB5P7S5wXmOTuAZIwrct9O7t25KkVzYZjzYOj9ekrJ2EA" /></form>
            </div>
        </div>
    </div>
</main>