<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign">
                <li class="nav-item">
                    <a class="nav-link active" href="/microkols-influencer/build/account-changeinfo.html">Thông tin cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changecontact.html">Thông tin liên lạc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changeidcard.html">Xác minh tài khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/microkols-influencer/build/account-changebank.html">Tài khoản ngân hàng</a>
                </li>
            </ul>
        </div>
        <div class="row mt-5">
            <!--add col for tablet-->
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gIPi1eiQRRtPoRDDNDaNir936ynBPxwofOmhxQRV3UqaOfcaIwuzuZbGZvyenmYEgN7Q3VqwWcGS_q9PJ_yyjG-zHcyotAEbTb_ILQTxm35jlRxV58ynguSF8ExOiqU-tUDRNyStT2wQrDecfiGD3Fj-tfG0YE6EZp7bYdgSBBaxQ" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <form enctype="multipart/form-data" method="post">
                    <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
                    </ul></div>
                    <div class="form-group">
                        <label for="Name">H&#x1ECD; v&#xE0; t&#xEA;n</label>
                        <input type="text" class="form-control" data-val="true" data-val-required="H&#xE3;y nh&#x1EAD;p H&#x1ECD; v&#xE0; t&#xEA;n" id="Name" name="Name" value="Thuc Nguyen">
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Birthday">Ng&#xE0;y sinh</label>
                        <input type="text" class="form-control form-datepicker" id="Birthday" name="Birthday" value="">
                        <span class="field-validation-valid" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Gender">Gi&#x1EDB;i t&#xED;nh</label>

                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="form-check pl-0">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="genderRadioMale" name="Gender" value="Male" class="custom-control-input" >
                                        <label class="custom-control-label" for="genderRadioMale" style="font-weight: 400">Nam</label>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check pl-1">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="genderRadioFemale" name="Gender" value="Female" class="custom-control-input" >
                                        <label class="custom-control-label" for="genderRadioFemale" style="font-weight: 400">N&#x1EEF;</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="CategoryId">S&#x1EDF; th&#xED;ch/chuy&#xEA;n m&#xF4;n</label>

                        <select multiple class="form-control" id="CategoryId" name="CategoryId">
                            <option value="1" >
                                Th&#x1EDD;i Trang - L&#xE0;m &#x111;&#x1EB9;p
                            </option>
                            <option value="2" >
                                B&#xE1;n h&#xE0;ng online
                            </option>
                            <option value="3" >
                                Di &#x111;&#x1ED9;ng - vi&#x1EC5;n th&#xF4;ng
                            </option>
                            <option value="4" >
                                C&#xF4;ng ngh&#x1EC7; - internet
                            </option>
                            <option value="5" >
                                Marketing - Truy&#x1EC1;n th&#xF4;ng
                            </option>
                            <option value="6" >
                                Gi&#xE1;o d&#x1EE5;c - &#x110;&#xE0;o t&#x1EA1;o
                            </option>
                            <option value="7" >
                                H&#xF3;a H&#x1ECD;c - Sinh h&#x1ECD;c - Khoa h&#x1ECD;c
                            </option>
                            <option value="8" >
                                Th&#x1EC3; Thao
                            </option>
                            <option value="9" >
                                Xe - V&#x1EAD;n T&#x1EA3;i
                            </option>
                            <option value="10" >
                                S&#x1EE9;c kh&#x1ECF;e - y t&#x1EBF;
                            </option>
                            <option value="11" >
                                B&#x1EA3;o hi&#x1EC3;m - T&#xE0;i ch&#xED;nh - Ng&#xE2;n h&#xE0;ng
                            </option>
                            <option value="13" >
                                H&#xE0;nh Ch&#xED;nh - V&#x103;n ph&#xF2;ng
                            </option>
                            <option value="14" >
                                &#x110;i&#x1EC7;n t&#x1EED; - &#x110;i&#x1EC7;n l&#x1EA1;nh - &#x110;i&#x1EC7;n d&#xE2;n d&#x1EE5;ng
                            </option>
                            <option value="15" >
                                Ph&#xE1;p Lu&#x1EAD;t
                            </option>
                            <option value="16" >
                                B&#x1EA5;t &#x111;&#x1ED9;ng s&#x1EA3;n
                            </option>
                            <option value="17" >
                                Xu&#x1EA5;t Nh&#x1EAD;p Kh&#x1EA9;u
                            </option>
                            <option value="18" >
                                Game
                            </option>
                            <option value="19" >
                                N&#xF4;ng - L&#xE2;m - N&#x103;ng l&#x1B0;&#x1EE3;ng - Kho&#xE1;ng s&#x1EA3;n
                            </option>
                            <option value="20" >
                                &#x1EA8;m th&#x1EF1;c - Nh&#xE0; h&#xE0;ng - Kh&#xE1;ch s&#x1EA1;n - Du l&#x1ECB;ch
                            </option>
                            <option value="21" >
                                Doanh nh&#xE2;n
                            </option>
                            <option value="22" >
                                Hotmom
                            </option>
                            <option value="23" >
                                Hotteen
                            </option>
                            <option value="24" >
                                Hot Facebooker
                            </option>
                            <option value="25" >
                                Ng&#x1B0;&#x1EDD;i n&#x1ED5;i ti&#x1EBF;ng
                            </option>
                            <option value="26" >
                                K&#x1EBF; to&#xE1;n
                            </option>
                            <option value="27" >
                                Ngh&#x1EC7; thu&#x1EAD;t - Gi&#x1EA3;i Tr&#xED;
                            </option>
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="CategoryId" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="MaritalStatus">T&#xEC;nh tr&#x1EA1;ng h&#xF4;n nh&#xE2;n</label>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="form-check pl-0">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="MaritalStatusSingle" name="MaritalStatus" value="Single" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="MaritalStatusSingle" style="font-weight: 400">&#x110;&#x1ED9;c th&#xE2;n</label>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check pl-1">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="MaritalStatusMarriage" name="MaritalStatus" value="Marriage" class="custom-control-input" >
                                        <label class="custom-control-label" for="MaritalStatusMarriage" style="font-weight: 400">K&#x1EBF;t h&#xF4;n</label>
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="form-check pl-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="MaritalStatusHaveChildren" name="MaritalStatus" value="HaveChildren" class="custom-control-input" >
                                        <label class="custom-control-label" for="MaritalStatusHaveChildren" style="font-weight: 400">&#x110;&#xE3; c&#xF3; con</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p class="small font-italic">
                        * Bạn cẩn đảm bảo thông tin mình khai báo là chính xác. Hệ thống sẽ dựa vào thông tin bạn khai báo để gửi thông báo cũng như thanh toán cho các chiến dịch mà bạn thực hiện.
                        Nếu khai báo sai bạn có thể không nhận được thanh toán hoặc thông báo chiến dịch mới. Chúng tôi không chịu trách nhiệm nếu sự cố do bạn khai báo
                    </p>
                    <div class="form-group">
                        <button class="btn btn-rounded btn-primary" type="submit">Cập nhật</button>
                    </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gIPi1eiQRRtPoRDDNDaNir936ynBPxwofOmhxQRV3UqaOfcaIwuzuZbGZvyenmYEgN7Q3VqwWcGS_q9PJ_yyjG-zHcyotAEbTb_ILQTxm35jlRxV58ynguSF8ExOiqU-tUDRNyStT2wQrDecfiGD3Fj-tfG0YE6EZp7bYdgSBBaxQ" /></form>
            </div>
        </div>
    </div>
</main>