<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid main-marketplace">
        <h1 class="page-title txt-center">MarketPlace</h1>
        <div class="alert alert-info" role="alert">
            <strong>
                Info!
            </strong>
            Bạn cần bổ xung thông tin tài khoản ngân hàng <a href="/Account/ChangeBankAccount"><b>tại đây</b></a>, để hệ thống có thể thanh toán cho bạn khi bạn hoàn thành chiến dịch.
        </div>
        <form method="get">
            <div class="form-group mb-4">
                <div class="form-row">
                    <div class="col-md-4">
                        <select class="custom-select custom-select-lg" name="type">
                            <option value="">Tất cả loại</option>
                            <option value="ShareContent" >Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</option>
                            <option value="ShareContentWithCaption" >Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, vi&#x1EBF;t th&#xEA;m caption</option>
                            <option value="ChangeAvatar" >Thay h&#xEC;nh Avatar</option>
                            <option value="ReviewProduct" >Vi&#x1EBF;t Review m&#x1ED9;t s&#x1EA3;n ph&#x1EA9;m ho&#x1EB7;c tham gia tr&#x1EA3;i nghi&#x1EC7;m</option>
                            <option value="JoinEvent" >Tham gia s&#x1EF1; ki&#x1EC7;n v&#xE0; check in</option>
                            <option value="ShareStreamUrl" >Share link livestream ch&#x1B0;&#x1A1;ng tr&#xEC;nh</option>
                            <option value="CustomService" >Y&#xEA;u c&#x1EA7;u kh&#xE1;c</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="kw" class="form-control form-control-lg" placeholder="Tìm kiếm chiến dịch">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-rounded btn-lg">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card campaign">
                    <img src="./assets/img/share_no_caption.png" class="card-img-top img-thumbnail border-0" alt="">
                    <div class="card-body">
                        <div class="h4 font-weight-bold campaign-type">Chia s&#x1EBB; th&#xF4;ng &#x111;i&#x1EC7;p, kh&#xF4;ng c&#x1EA7;n vi&#x1EBF;t caption</div>
                        <h2 class="card-title">
                            <a data-id="342" class="campaign-link" href="/microkols-influencer/build/campaign-detail.html">
                                Sai l&#x1EA7;m t&#xE1;i m&#x1EDF; c&#x1EED;a khi&#x1EBF;n California tr&#x1EA3; gi&#xE1;
                            </a>
                        </h2>
                        <div class="d-flex">
                            <div>
                                <small> bởi </small>
                                <span class="ml-2"><img src="https://resources.microkols.com//agency/2020/2/9/DOMTQXNZVL.jpg" width="24" height="24" class="rounded-circle"> TPBank</span>
                            </div>
                            <div class="ml-auto text-right">
                                <small class="ml-5">  <i class="fas fa-circle text-primary"></i> &#x110;&#xE3; ph&#xEA; duy&#x1EC7;t</small>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <div class="icon"><i class="fab fa-facebook"></i></div>
                            <div class="ml-2 small">
                                &#x110;&#xE3; ph&#xEA; duy&#x1EC7;t
                                <br />
                                2/10 tham gia
                            </div>
                            <div class="ml-auto text-right">
                                <a class="btn btn-primary btn-rounded" data-id="342" href="/microkols-influencer/build/campaign-detail.html">Tham gia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination justify-content-end"></ul>
    </div>
</main>