<main role="main" class="flex-grow-1 px-3">
    <div class="main container-fluid">
        <h1 class="page-title">Th&#xF4;ng b&#xE1;o</h1>
        <form method="get" action="/Notification">
            <div class="form-group ">
                <div class="form-row">
                    <div class="col-lg-4 col-md-4">
                        <select class="custom-select custom-select-lg" name="type">
                            <option value="">Tất cả</option>
                            <option value="System" >H&#x1EC7; th&#x1ED1;ng</option>
                            <option value="Campaign" >Chi&#x1EBF;n d&#x1ECB;ch</option>
                            <option value="Payment" >Thanh to&#xE1;n</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <input type="text" class="form-control form-control-lg form-daterangepicker" name="daterange" placeholder="Từ ngày ... đến ngày">
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <button type="submit" class="btn btn-primary btn-rounded btn-lg btn-search">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="nav-responsive">
            <ul class="nav nav-tabs nav-campaign mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="/Notification">Tất cả</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=System">H&#x1EC7; th&#x1ED1;ng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=Campaign">Chi&#x1EBF;n d&#x1ECB;ch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  " href="/Notification?type=Payment">Thanh to&#xE1;n</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel">
            </div>
        </div>
    </div>
</main>