<main role="main" class="flex-grow-1 px-3">
    <!--add class main-wallet-->
    <div class="main container-fluid main-wallet">
        <h1 class="page-title">Thông tin tài khoản</h1>
        <ul class="nav nav-tabs nav-campaign">
            <li class="nav-item">
                <a class="nav-link active" href="/Wallet">Lịch sử giao dịch</a>
            </li>
        </ul>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-4">
                <div class="user-avatar">
                    <img src="http://graph.facebook.com/3136030813155530/picture?type=large">
                    <form enctype="multipart/form-data" id="frmChangeAvatar" action="/Account/ChangeAvatar" method="post">
                        <label class="changeavatar" for="fileChangeAvatar"></label>
                        <input type="file" class="custom-file-input" id="fileChangeAvatar" name="file">
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8AE5HdEQc-BOsdsOa2Kz1gKvL41bHL2P6Oft3e4pOy6K6AAlxTU7hOVkFsnH1jWKMeoffGjeO1brTbWr7ccqxb4FBtvqsBdtPYsQne4ssYdt8lFTeKBR09RnkEn8owsEnYP1EaM4OfxuLARaDS9ma0j-MNWS4s4QocpVXdJLyRG7J17HsULIVJiXSdIAiOvaVw" /></form>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="text-danger wallet-balance">0</h3>
                                    <span>Trong ví</span>
                                </div>
                                <div class="align-self-center">
                                    <i class="fa fa-wallet fa-2x float-right text-danger"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <form method="get" class="form-inline" action="/Wallet">
                        <input type="text" class="form-control form-daterangepicker" autocomplete="off" name="daterange" value=" 01/01/2019 -  06/07/2020" placeholder="Từ ngày ... đến ngày">
                        <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>Mã giao dịch</th>
                            <th>Số tiền</th>
                            <th>Còn lại</th>
                            <th width="200">Nội dung</th>
                            <th>Thời gian</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <ul class="pagination justify-content-end"></ul>
                </div>
            </div>
        </div>
    </div>
</main>