$img-path: "../img";
$font-path: "../font";

img{max-width: 100%;}
.flex{display: flex; flex-wrap: wrap;}
.flex-lc{display: flex; align-items: center;}
form{
  .btn{padding: .6rem 3rem; font-size: 1.1rem;}
}
.sidebar{
  .close{
    display: none;
    width: 20px; height: 20px;
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
    position: absolute; right: 20px; top: 20px; opacity: 1; text-indent: -9999em;
  }
}
.navbar-m{display: none;}
button:focus{outline: none;}
.form-updateinfo{
  label{font-size: 18px;}
}
.choose-account{
  > div{margin-right: 15px;}
}
.main-wallet{
  .card-title{font-size: 30px; color: #4F4F4F;}
  .card-img-top{width: auto; padding: 0; max-height: 60%; max-width: 60%;}
  .card-img{height: 250px; display: flex; align-items: center; justify-content: center;}
  .wallet-balance{font-size: 48px;}
  .media-body span{font-size: 18px;}
  form{
    .btn{margin-left: 20px; padding: 0.54rem 2.75rem; font-size: 0.875rem;}
    .form-daterangepicker{width: calc(100% - 180px);}
  }
  i.text-danger{font-size: 36px;}
}
.main-campaign{
  .card.border-0{margin-bottom: 40px;}
}
.card-img-overlay{
  display: flex; align-items: center;
  .h2{max-width: 365px; margin-bottom: 0;}
  .btn{white-space: normal;}
}
.form-create-campaign{
  .p-3{padding: 0rem !important;}
  .btn{white-space: normal;}
  textarea{min-height: 160px;}
  .custom-control{padding: 10px 0 10px 1.5rem;}
}
.campaign-list{
  .card-title{font-size: 20px; line-height: inherit;}
}
.main-campaign-detail{
  .card-body{padding: 1.5rem 0;}
  .campaign-text{
    h5{margin-bottom: 1rem; color: #4F4F4F; font-size: 18px; font-weight: 700; letter-spacing: -0.015em;}
  }
}
.group-select-account{
  > div{margin-bottom: 12px;}
}
#dataHotMom{
  margin: 15px 0;
  h6{font-weight: 400; font-size: 16px;}
  button{margin: 10px 0; padding-top: .6rem; padding-bottom: .6rem;}
  select{min-width: 140px;}
}

@media (max-width: 1440px) {
  .user-avatar {
    width: 200px; height: 200px;
    img{width: 200px;}
    label{width: 200px; height: 100px;}
  }
}


@media (max-width: 1200px) {
  .nav-responsive{width: 100%; overflow: auto;}
  .nav-tabs{
    flex-wrap: nowrap;
    border-left: 0.5px solid #BDBDBD;

    margin-bottom: 15px;
    >*+*{border-left: 0.5px solid #BDBDBD;}
    li:last-child{border-right: 0.5px solid #BDBDBD;}
    .nav-link{
      padding: .4rem 1rem; font-size: 14px; white-space: nowrap;
      &:hover,&:focus{border-color: #BDBDBD;}
    }
    .nav-item{border-top: 0.5px solid #BDBDBD;
      border-bottom: 0.5px solid #BDBDBD; position: relative;}
    .nav-link.active{border: none;}

    .nav-link.active::after{
      content: "";
      width: 100%; height: 2px; background: #56CCF2;
      position: absolute; bottom: -1px; left: 0;
    }
  }
}

@media (max-width: 1023px) {
  .navbar-m{
    display: flex; align-items: center;
    width: 100%; height: 55px;
    padding: 0 15px;
    background: #2D9CDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed; top: 0; z-index: 99;
    .navbar-toggler{
      display: block;
      width: 24px;
      height: 14px;
      padding: 0;
      background: none; border: none;
      position: absolute; right: 15px; top: 50%; transform: translateY(-50%);
      span{
        display: block; width: 24px; height: 2px; border-radius: 2px;
        background: #fff; transition: .3s;
      }
      span:before,span:after{
        content: ''; display: block; width: 24px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
      }
      span:before{top: -2px;}
      span:after{bottom: -2px;}
    }
    .navbar-toggler.active{
      span{width: 33px; transform: rotate(45deg);}
      span:after{width: 33px;}
      span:before{top: 0;  transform: rotate(90deg);}
      span:after{opacity: 0;}
    }
  }
  .sidebar{
    width: 100%;
    position: fixed;
    right: 0;
    height: 100%;
    top: -100%;
    overflow: auto;
    z-index: 990;
    .close{display: block;}
    .logo{display: none;}
    .sidebar-sticky{width: 100%;}
    .nav-link{padding: 0.5rem 20px;}
    .nav-user{width: 85%; margin: 12px 0 40px;}
    .nav-sep{margin: 20px 0;}
    hr{border-color: rgba(#fff,.3);}
    &.is-show{top: 0; transition: all .3s linear;}
  }
  .nav-50{
    li,.nav-item{width: 50%;}
  }
  main{width: 100%;}
  .main{padding: 90px 0 50px;}
  .page-title{
    margin-bottom: 2rem;
    flex-wrap: wrap;
    .h1{margin-bottom: .5rem; font-size: 24px;}
    .btn{margin-top: 1rem;}
    .text-secondary{font-size: 1.05rem;}
    .text-secondary.px-2{padding: 0 .6rem !important;}
    .text-primary{font-size: 20px;}
    a.btn{padding: 4px 24px; font-size: 14px;}
  }
  .page-title.txt-center{
    justify-content: center;
    .h1{text-align: center;}
  }
  form{
    label{margin-bottom: .5rem; font-size: 16px;}
    .col-md-4{margin-bottom: 15px;}
    .btn{padding: .5rem 2rem; font-size: .85rem;}
  }
  table{
    th,td{padding: .5rem; font-size: 12px;}
    tr td:not(:first-child), tr th:not(:first-child){min-width: 120px;}
  }
  .pagination{margin-top: 20px;}
  .table-responsive{
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, .5);
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 8px;
    }
  }
  .campaigndetails{
    .mr-2{font-size: 15px;}
  }
  .form-updateinfo label {
    font-size: 16px;
  }
  #nav-tab-content-campaign{
    margin-top: 10px;
    .card-body{padding: 1.25rem 5px;}
  }
  .main-wallet{
    .card{margin-bottom: 20px;}
    .card-body{padding: 15px;}
    .card-img{height: 200px;}
  }
  .form-inline{
    .btn{padding-left: 1rem; padding-right: 1rem;}
  }
  .campaign-list{
    .card-body{ padding:  1rem; min-height: 150px;}
  }
  .card-img-overlay{
    padding: 1rem;
    .p-5{display: flex; padding: 0rem !important;}
    .text-dark,.col-5{width: 100%; max-width: 100%; flex-basis: 100%;}
    .h2{max-width: 240px; color: #4F4F4F; font-size: 16px; line-height: 26px; letter-spacing: -0.015em;}
  }
  .campaign{
    .img-thumbnail,.card-body{padding: 15px;}
    .campaign-type{font-size: 1rem;}
    .card-title{margin: .8rem 0 1.5rem;}
    .card-title a{font-size: .9rem;}
  }
  .form-row > .col, .form-row > [class*="col-"]{margin-bottom: 10px;}
  .main-marketplace{}
  .main-campaign-detail{
    .card-body{padding: 15px 0;}
    .campaign-text h5{font-size: 14px;}
  }
  .user-avatar{margin-bottom: 15px;}
  .fbpost-carousel{
    .card-body{padding: 1rem;}
  }
  .main-wallet{
    .wallet-balance{font-size: 36px;}
    form .btn{margin-left: 15px; padding: 0.54rem 1.4rem; font-size: 0.75rem;}
  }

  //uikit
  h3, .h3{font-size: 1.05rem; line-height: inherit;}
  h6, .h6{line-height: inherit;}
  h1, .h1,.page-title{font-size: 1.6rem;}
  .mt-5, .my-5 {
    margin-top: 2rem !important;
  }
  .form-control-lg,.custom-select-lg{font-size: 15px;}
  .btn-rounded, .btn{font-size: 14px;}
  .card-body{padding: 1.25rem 0;}
  .custom-control-inline{margin-right: 0;}
}

@media (max-width: 768px) {
  .custom-switch{margin-top: 5px;}
}

@media (max-width: 480px) {
  .page-title{
    .h1{flex-basis: 100%;}
  }
}

@media (max-width: 375px) {
  .nav-tabs .nav-link {
    padding: .4rem .5rem;
  }
}

@media (min-width: 1023px) and (max-width: 1200px) {
  .page-title{
    .h1{font-size: 36px;}
    .text-secondary{font-size: 28px;}
  }
  .user-avatar{
    width: 140px; height: 140px;
    img{width: 140px;}
    label{width: 140px; height: 70px;}
  }
  .sidebar{width: 280px;}
  main{width: calc(100% - 280px);}
  .main{padding: 2rem 0;}
  //uikit
  h3, .h3{font-size: 1rem;}
  form .btn-search{padding: .5rem 1rem;}
  .btn-rounded, .btn{padding-left: 1rem; padding-right: 1rem;}
}

@media (min-width: 1200px) {
  main{width: calc(100% - 320px);}
}


//page edit wallet, changeinfo, campaign-detail, campaign, history, notification
